.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', sans-serif;
    box-sizing: border-box;
}

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --darker-cyan: hsl(183, 100%, 15%);
    --dark-cyan: hsl(184, 14%, 56%);
    --light-cyan: hsl(185, 41%, 84%);
    --lighter-cyan: hsl(189, 41%, 95%);
    --light: 400;
    --medium: 500;
    --bold: 700;
}

body {
    background-color: var(--light-cyan);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    text-align: center;
    margin: 30px 0;
}

.calculator {
    margin-bottom: 50px;
    background-color: white;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.fields {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    font-size: 12px;
    font-weight: var(--bold);
    color: var(--dark-cyan);
}

.bill input,
.number input {
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    outline-style: none;
    background-color: var(--lighter-cyan);
    border-radius: 5px;
    padding: 5px 20px 5px 30px;
    text-align: right;
    font-weight: var(--bold);
    color: var(--darker-cyan);
}

.bill input {
    background-image: url(images/icon-dollar.svg);
    background-size: 10px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
}

.number input {
    padding-left: 30px;
    background-image: url(images/icon-person.svg);
    background-size: 10px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
}

.input::placeholder {
    color: var(--dark-cyan);
}

#warning {
    border: 3px solid red;
}

.bill,
.number {
    position: relative;
}

.msg::before {
    content: "Can't be zero or less";
    color: red;
    position: absolute;
    font-size: smaller;
    bottom: 75%;
    right: 0;
}

.fields input:focus {
    border: 3px solid var(--strong-cyan);
}

.options {
    position: relative;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.options span {
    position: absolute;
    bottom: 110%;
    left: 0;
}

.options input {
    width: 100%;
    text-align: right;
    background-color: var(--lighter-cyan);
    border: none;
    outline-style: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: var(--bold);
    color: var(--darker-cyan);
}

.options input::placeholder {
    text-align: center;
    color: var(--darker-cyan);
    font-size: 15px;
}

.option {
    font-size: 18px;
    font-weight: var(--bold);
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    outline-style: none;
    background-color: var(--darker-cyan);
    color: white;
    cursor: pointer;
    transition: 150ms ease;
}

.option.hover:hover {
    color: var(--darker-cyan);
    background-color: hsl(186, 62%, 80%);
}

.active {
    background-color: var(--strong-cyan);
    color: var(--darker-cyan);
}

.result {
    padding: 20px;
    background-color: var(--darker-cyan);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tip,
.total {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.tip h1,
.total h1 {
    color: var(--strong-cyan);
}

.text h5 {
    font-size: 13px;
    font-weight: var(--medium);
    color: white;
}

.text p {
    color: var(--dark-cyan);
    font-size: 12px;
}

.button {
    text-align: center;
}

#reset {
    border: none;
    outline-style: none;
    background-color: var(--strong-cyan);
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
    color: var(--darker-cyan);
    font-weight: var(--bold);
    font-size: 15px;
    transition: 150ms ease;
    cursor: pointer;
}

#reset:hover {
    background-color: hsl(186, 62%, 80%);
}

.disable {
    opacity: .3;
}

@media (max-width: 650px) {
    .calculator {
        grid-template-columns: 1fr;
        width: 100%;
        height: 800px;
    }
}